@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #f0f0f0; /* Light gray */
}
.instruction {
  font-size: 1.5rem;
}

.App-header {
  background-color: #4682B4; /* Sky blue */
  padding: 20px;
  color: white;
}

.question-container {
  background-color: #87CEEB;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease;
}

.question-text {
  margin-bottom: 10px;
}

.answers {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.answer-button {
  padding: 10px 20px;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4682B4; /* Sky blue */
  color: white;
  transition: background-color 0.3s ease;
}

.answer-button.selected {
  background-color: #00ad65; /* Darker blue */
}

.answer-button:hover:not(.selected) {
  background-color: #00ad65; /* Darker blue */
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #00ad65; /* Sky blue */
  color: white;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0b7e4e; /* Darker blue */
}

.result-container {
  background-color: #87CEEB;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease;
}

.result-highlight {
  background-color: #4682B4; /* Sky blue */
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.result-text {
  font-size: 20px;
  margin-bottom: 10px;
}

.score {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: hsl(0, 100%, 50%); /* Default background color */
  border-radius: 50%;
  width: 36px;
  padding: 10px 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.recommendation {
  margin-top: 20px;
}

.recommendation-text {
  font-size: 1.2rem;
  color: #333;
}

.restart-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #00ad65; /* Sky blue */
  color: white;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #0b7e4e; /* Darker blue */
}

.footer {
  background-color: #4682B4; /* Dark gray */
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* .footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
} */

.social-icons a {
  color: white;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #61dafb;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.recommendation-list {
  list-style: none; /* Remove list bullets */
  padding: 0; /* Remove default padding */
  background-color: #00ad65;
  padding: 1%;
  font-size: 150%;
  border-radius: 10px;
}